<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="" th:href="@{/css/community/community.css}" />
    <title>캠핑EZ | 글쓰기</title>
    <script src="https://kit.fontawesome.com/4fab4e86c9.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="up-l"></div>

      <!-- 최상단 메뉴(UPPERMOST) -->
      <div class="up">
        <a href="" th:href="@{/}" class="up__link">HOME</a>
        <th:block th:if="${!session.isEmpty()}">
          <a href="" th:href="@{/mypage}" class="up__link">마이페이지</a>
          <a href="" th:href="@{/login/logout}" class="up__link">로그아웃</a>
        </th:block>
        <th:block th:if="${session.isEmpty()}">
          <a href="" th:href="@{/signup}" class="up__link">회원가입</a>
          <a href="" th:href="@{/login}" class="up__link">로그인</a>
        </th:block>
      </div>

      <div class="up-r"></div>

      <div class="hd-l"></div>

      <!-- 헤더 (HEADER) -->
      <header class="hd">
        <div class="hd__menu-item">
          <a href="" th:href="@{/search}" class="link">검색ez</a>
          <a href="" th:href="@{/preparing}" class="link">ez가이드</a>
          <a href="" th:href="@{/preparing}" class="link">사이트맵</a>
        </div>
        <div class="hd__logo-item">
          <a href="" th:href="@{/}" class="link">
            <i class="hd__logo fa-solid fa-house"></i>
            <h2>캠핑EZ</h2>
          </a>
        </div>
        <div class="hd__empty-item"></div>
      </header>

      <div class="hd-r"></div>

      <div class="gnb-l"></div>

      <!-- gnb영역 -->
      <nav class="gnb">
        <div class="gnb__gwangjang-submenu">
          <div><a href="" th:href="@{/community/bulletinBoard}" class="gnb__depth link">자유게시판</a></div>
          <div><a href="" th:href="@{/community/question}" class="gnb__depth link">질문게시판</a></div>
        </div>
        <div><a href="" th:href="@{/search}" class="link">검색ez</a></div>
        <div><a href="" th:href="@{/preparing}" class="link">광장ez</a></div>
        <div><a href="" th:href="@{/preparing}" class="link">ez가이드</a></div>
      </nav>

      <div class="gnb-r"></div>
      <div class="posting-l"></div>
      <main class="posting">
        <!--폼태그 글쓰기, 상단 부분과 본문부분으로 나누어짐-->
        <form action="" method="post" th:object="${postSaveForm}">
          <section class="posting__upper">
            <h4 class="posting__title">글쓰기</h4>
          </section>
          <section class="posting__main">
            <select class="posting__select-where" name="" id="">
              <option value="" selected>질문게시판</option>
            </select>
            <input type="text" class="hidden" th:field="*{nickname}"/>
            <input class="posting__input-title" type="text" th:field="*{ptitle}" placeholder="제목을 입력해 주시기 바랍니다." />
            <section class="posting__buttons">
              <button type="button">글꼴</button>
              <button type="button">글꼴 크기</button>
              <button type="button">밑줄</button>
              <button type="button">굵기</button>
            </section>
            <textarea class="posting__context" rows="30" th:field="*{ptext}" placeholder="여기에 본문을 입력해주시기 바랍니다."></textarea>
            <input type="file" />
          </section>
          <div class="posting__buttons">
            <button id="btnAdd">작성</button>
          </div>
        </form>
      </main>
      <div class="posting-r"></div>
      <div class="ft-l"></div>
      <!-- 푸터영역(FOOTER)-->
      <footer class="ft">
        <div class="ft__logo-cell">
          <h2>캠핑EZ</h2>
        </div>
        <div class="ft__info-cell">
          <div class="ft__links">
            <a href="" class="link">개인정보취급방침</a>
            <a href="" class="link">홈페이지이용약관</a>
            <a href="" class="link">광고및제휴문의</a>
          </div>
          <div class="ft__others">
            <p>Copyrights(c) 2023 www.campingez.com. ALL RIGHTS RESERVED.</p>
            <p>TEL 010-1234-5678 (상담시간: 평일 10:00~18:00)</p>
            <p>E-MAIL : webmaster@testmail.com</p>
          </div>
        </div>
        <div class="ft__empty-cell"></div>
      </footer>

      <div class="ft-r"></div>
    </div>
    <script>
    const $btnAdd = document.getElementById('btnAdd');
      const add_h = e => {
        frm.submit();
      }
      btnAdd.addEventListener('click',add_h,false);
    </script>
  </body>
</html>
