<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="" th:href="@{/css/myPage/myPage.css}" />
    <title>$Title$</title>
    <script src="https://kit.fontawesome.com/4fab4e86c9.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="wrapper">
      <div class="up-l"></div>

      <!-- 최상단 메뉴(UPPERMOST) -->
      <div class="up">
        <a href="/templates/mainPage/EZMain.html" class="up__link">HOME</a>
        <a href="/templates/member/SignUp.html" class="up__link">회원가입</a>
        <a href="/templates/myPage/myPage.html" class="up__link">마이페이지</a>
        <a href="/templates/member/LogIn.html" class="up__link">로그인</a>
      </div>

      <div class="up-r"></div>

      <div class="hd-l"></div>

      <!-- 헤더 (HEADER) -->
      <header class="hd">
        <div class="hd__menu-item">
          <a href="" class="link">검색ez</a>
          <a href="" class="link">광장ez</a>
          <a href="" class="link">ez가이드</a>
          <a href="" class="link">사이트맵</a>
        </div>
        <div class="hd__logo-item">
          <a href="/templates/mainPage/EZMain.html" class="link">
            <i class="hd__logo fa-solid fa-house"></i>
            <h2>캠핑EZ</h2>
          </a>
        </div>
        <div class="hd__empty-item"></div>
      </header>

      <div class="hd-r"></div>

      <div class="gnb-l"></div>

      <!-- gnb영역 -->
      <nav class="gnb">
        <div class="gnb__gwangjang-submenu">
          <div><a href="notice.html" class="gnb__depth link">공지사항</a></div>
          <div>
            <a href="butlletinBoard.html" class="gnb__depth link">자유게시판</a>
          </div>
          <div>
            <a href="question.html" class="gnb__depth link">질문게시판</a>
          </div>
        </div>
        <div><a href="" class="link">검색ez</a></div>
        <div><a href="" class="link">광장ez</a></div>
        <div><a href="" class="link">ez가이드</a></div>
      </nav>
      <div class="gnb-r"></div>
      <div class="post-l"></div>
      <!-- 마이페이지 내용 시작 -->
      <main>
        <!-- 탭1 -- 일반 사용자 GNB -->
        <div class="tab1">
          <input name="tab" id="tab1__1" type="radio" />
          <input name="tab" id="tab1__2" type="radio" />
          <input name="tab" id="tab1__3" type="radio" />
          <tabBtn--label id="tab1__label">
            <label for="tab1__1">예약현황</label>
            <label for="tab1__2">회원정보</label>
            <label for="tab1__3">회원탈퇴</label>
          </tabBtn--label>
        </div>
        <!-- 탭1, 일반 이용자가 보게 될 화면 -->
        <div class="tab1__contant">
          <!-- 탭1__1__1, 예약 현황  -->
          <div class="tab1__1__content">
            <hr />
            <!-- 상단 타이틀 -->
            <div class="reserv__title">
              <p>캠핑장 이름</p>
              <p>예약한 날짜</p>
              <p></p>
            </div>
            <!-- 예약 아이템, 4개까지 들어감 -->
            <div class="reserv__item">
              <div class="reserv__campName"><a href="">캠핑장 이름</a></div>
              <div class="reserv__date">22.22.22~22.22.22</div>
              <button class="reserv__btn">취소</button>
            </div>
            <div class="reserv__item">
              <div class="reserv__campName">캠핑장 이름</div>
              <div class="reserv__date">22.22.22~22.22.22</div>
              <button class="reserv__btn">취소</button>
            </div>
            <div class="reserv__item">
              <div class="reserv__campName">캠핑장 이름</div>
              <div class="reserv__date">22.22.22~22.22.22</div>
              <button class="reserv__btn">취소</button>
            </div>
            <div class="reserv__item">
              <div class="reserv__campName">캠핑장 이름</div>
              <div class="reserv__date">22.22.22~22.22.22</div>
              <button class="reserv__btn">취소</button>
            </div>
            <!-- 예약 관리에서 페이지 버튼 -->
            <div class="reserv__page">
              <button class="reserv__pageBtn"><<</button>
              <button class="reserv__pageBtn">1</button>
              <button class="reserv__pageBtn">2</button>
              <button class="reserv__pageBtn">3</button>
              <button class="reserv__pageBtn">4</button>
              <button class="reserv__pageBtn">>></button>
            </div>
          </div>
          <!-- 탭1__2, 사용자 계정 정보 -->
          <div class="tab1__2__content">
            <hr />
            <form action="" th:object="${members}" method="post">
              <div class="member__item">
                <div class="member__title" >이름</div>
                <input class="member__main" type="text" th:field="*{mname}"/>
              </div>
              <div class="member__item">
                <div class="member__title" >비밀번호</div>
                <input class="member__main" type="text" th:field="*{pw}"/>
              </div>
              <div class="member__item">
                <div class="member__title">아이디</div>
                <input class="member__main" type="text" th:field="*{mid}" />
              </div>
              <div class="member__item">
                <div class="member__title">메일</div>
                <input class="member__main" type="text" th:field="*{email}"/>
              </div>
              <div class="member__item">
                <div class="member__title">주소</div>
                <input class="member__main" type="text" th:field="*{maddress}" />
              </div>
              <div class="member__item">
                <div class="member__title">닉네임</div>
                <input class="member__main" type="text" th:field="*{nickname}" />
              </div>
              <div class="member__item">
                <div class="member__title">폰번호</div>
                <input class="member__main" type="text" th:field="*{phone}" />
              </div>
              <div class="member__item">
                <div class="member__title">타입</div>
                <input class="member__main" type="text" th:field="*{mtype}" />
              </div>
              <div class="member__item">
                <div class="member__title">회사이름</div>
                <input class="member__main" type="text" th:field="*{companyname}" />
              </div>
              <div class="member__item">
                <div class="member__title">사업자번호</div>
                <input class="member__main" type="text" th:field="*{businessnumber}" />
              </div>
              <div class="member__item">
                <input class="member__btn" type="submit" value="수정하기">
              </div>
            </form>>
          </div>
          <!-- 탭1__3, 회원 탈퇴 -->
          <div class="tab1__3__content">
            <!-- 회원 탈퇴 재확인 모달 창 -->
            <div class="member__modal">
              <h2>정말 탈퇴하시겠습니까?</h2>
              <br />
              <br />
              <!-- 회원 탈퇴 모달 창 버튼 -->
              <input type="button" value="확인" id="member__modalYBTN" />
              <input type="button" value="취소" id="member__modalNBTN" />
            </div>
            <hr />
            <h1>회원 탈퇴를 하시겠습니까?</h1>
            <br />
            <h5>탈퇴하시려면 비밀 번호를 다시 입력해주세요.</h5>
            <input class="member__wthdr" type="text" />
            <!-- 회원 탈퇴 버튼 -->
            <input id="member__wthdrBTN" type="button" value="확인" />
          </div>
        </div>
      </main>
      <div class="post-r"></div>
      <div class="ft-l"></div>
      <!-- 푸터영역(FOOTER)-->
      <footer class="ft">
        <div class="ft__logo-cell">
          <h2>캠핑EZ</h2>
        </div>
        <div class="ft__info-cell">
          <div class="ft__links">
            <a href="" class="link">개인정보취급방침</a>
            <a href="" class="link">홈페이지이용약관</a>
            <a href="" class="link">광고및제휴문의</a>
          </div>
          <div class="ft__others">
            <p>Copyrights(c) 2023 www.campingez.com. ALL RIGHTS RESERVED.</p>
            <p>TEL 010-1234-5678 (상담시간: 평일 10:00~18:00)</p>
            <p>E-MAIL : webmaster@testmail.com</p>
          </div>
        </div>
        <div class="ft__empty-cell"></div>
      </footer>
      <div class="ft-r"></div>
    </div>
  </body>
  <script>
    $tab1__1 = document.getElementById('tab1__1');
    $tab1__2 = document.getElementById('tab1__2');
    $tab1__3 = document.getElementById('tab1__3');
    $wthdrBTN = document.getElementById('member__wthdrBTN');
    $member__modalYBTN = document.getElementById('member__modalYBTN');
    $member__modalNBTN = document.getElementById('member__modalNBTN');
    $tab1__1.onclick = function () {
      document.querySelector('.tab1__contant').style.display = 'flex';
      document.querySelector('.tab1__1__content').style.display = 'block';
      document.querySelector('.tab1__2__content').style.display = 'none';
      document.querySelector('.tab1__3__content').style.display = 'none';
    };
    $tab1__2.onclick = function () {
      document.querySelector('.tab1__contant').style.display = 'flex';
      document.querySelector('.tab1__1__content').style.display = 'none';
      document.querySelector('.tab1__2__content').style.display = 'block';
      document.querySelector('.tab1__3__content').style.display = 'none';
    };
    $tab1__3.onclick = function () {
      document.querySelector('.tab1__contant').style.display = 'flex';
      document.querySelector('.tab1__1__content').style.display = 'none';
      document.querySelector('.tab1__2__content').style.display = 'none';
      document.querySelector('.tab1__3__content').style.display = 'block';
    };
    $wthdrBTN.addEventListener('click', () => {
      document.querySelector('.member__modal').style.display = 'block';
    });
    $member__modalYBTN.addEventListener('click', () => {
      document.querySelector('.member__modal').style.display = 'none';
    });
    $member__modalNBTN.addEventListener('click', () => {
      document.querySelector('.member__modal').style.display = 'none';
    });
  </script>
</html>
