<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="" th:href="@{./css/member/SignUp.css}" />
    <title>캠핑이지 회원가입</title>
    <script src="https://kit.fontawesome.com/4fab4e86c9.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="up-l"></div>

      <!-- 최상단 메뉴(UPPERMOST) -->
      <div class="up">
        <a href="" th:href="@{/}" class="up__link">HOME</a>
        <th:block th:if="${!session.isEmpty()}">
          <a href="" th:href="@{/mypage}" class="up__link">마이페이지</a>
          <a href="" th:href="@{/login/logout}" class="up__link">로그아웃</a>
        </th:block>
        <th:block th:if="${session.isEmpty()}">
          <a href="" th:href="@{/signup}" class="up__link">회원가입</a>
          <a href="" th:href="@{/login}" class="up__link">로그인</a>
        </th:block>
      </div>

      <div class="up-r"></div>

      <div class="hd-l"></div>

      <!-- 헤더 (HEADER) -->
      <header class="hd">
        <div class="hd__menu-item">
          <a href="" th:href="@{/search}" class="link">검색ez</a>
          <a href="" th:href="@{/preparing}" class="link">ez가이드</a>
          <a href="" th:href="@{/preparing}" class="link">사이트맵</a>
        </div>
        <div class="hd__logo-item">
          <a href="" th:href="@{/}" class="link">
            <i class="hd__logo fa-solid fa-house"></i>
            <h2>캠핑EZ</h2>
          </a>
        </div>
        <div class="hd__empty-item"></div>
      </header>

      <div class="hd-r"></div>

      <div class="gnb-l"></div>

      <!-- gnb영역 -->
      <nav class="gnb">
        <div class="gnb__gwangjang-submenu">
          <div><a href="" th:href="@{/community/bulletinBoard}" class="gnb__depth link">자유게시판</a></div>
          <div><a href="" th:href="@{/community/question}" class="gnb__depth link">질문게시판</a></div>
        </div>
        <div><a href="" th:href="@{/search}" class="link">검색ez</a></div>
        <div><a href="" th:href="@{/preparing}" class="link">광장ez</a></div>
        <div><a href="" th:href="@{/preparing}" class="link">ez가이드</a></div>
      </nav>

      <div class="gnb-r"></div>
      <div class="mn-l"></div>

      <!-- 메인영역(MAIN) -->
      <main class="mn">
        <div>
          <h3 class="mn__head-line">이용 약관 동의</h3>
        </div>
        <hr class="line" />
        <div class="  ">
          <p class="text-box">
            <br />제1조 목적<br /><br />본 약관은 캠핑이지에서 제공되는 서비스의 이용과 관련하여, 이용조건 및 절차, 회원과 운영기관의 권리·의무 및 책임, 그 외 필요한 사항을 규정함을 목적으로 합니다.<br /><br />제2조 용어의 정의<br /><br />
            본 약관에서 사용하는 용어의 정의는 다음과 같습니다.<br /><br />
            1. “개인회원”이란 캠핑이지에서 제공하는 소정의 회원가입절차에 따라 이용약관에 동의하고 가입을 완료한 법인 또는 개인을 말합니다.<br />
            2. “기업회원”이란 캠핑이지에서 제공하는 소정의 회원가입절차에 따라 기업회원 소속 직원이 기업을 대리하여 이용약관에 동의하고 가입을 완료한 기업, 기관, 단체 등을 말합니다.<br />
            3. “회원”이란 개인회원과 기업회원 모두를 말합니다.<br />
            <br />
          </p>
          <span class="agree-box">
            (필수) 캠핑이지 서비스 이용약관&nbsp;&nbsp;
            <label for="agr1">&nbsp;동의함</label>
            <input class="agree-box__radio" type="radio" name="ch1" id="agr1" />
            <label for="noagr1">&nbsp;&nbsp;동의하지 않음</label>
            <input class="agree-box__radio" type="radio" name="ch1" id="noagr1" />
          </span>
          <p class="text-box">
            <br />가. 수집하는 개인정보의 항목<br />
            캠핑이지는 다음의 개인정보 항목을 수집하고 있습니다.<br /><br />
            ○. 캠핑이지 회원정보<br /><br />
            • 회원가입 시 입력해야 하는 필수항목과 선택항목이 있으며, 선택항목은 입력하지 않으시더라도 서비스 이용에는 제한이 없습니다.<br />
            • 일반회원가입<br /><br />
            - 필수항목 : 이름, 아이디, 비밀번호, 이메일, 휴대전화번호<br />
            - 선택항목 : 전화번호<br /><br />
            • 기업회원 가입<br /><br />
            - 필수항목 : 이름, 직장명, 이메일, 휴대번화번호, 기업 대표자명<br />
            - 선택항목 : 전화번호<br />
          </p>
          <span class="agree-box">
            (필수) 개인정보 수집 및 이용&nbsp;&nbsp;
            <label for="agr2">&nbsp;동의함</label>
            <input class="agree-box__radio" type="radio" name="ch2" id="agr2" />
            <label for="noagr2">&nbsp;&nbsp;동의하지 않음</label>
            <input class="agree-box__radio" type="radio" name="ch2" id="noagr2" />
          </span>
          <p class="text-box">
            <br />캠핑이지에서 현황조사 등에 수집된 정보가 활용될 수 있습니다.<br /><br />
            ○. 정보 수집 목적<br /><br />
            - 캠핑이지 및 데이터활용 관련 정보 제공<br />
            - 캠핑이지 이용현황조사 <br /><br />※ 선택 목적에 동의하지 않는 경우, 캠핑이지 및 데이터 활용 관련 정보 제공과 활용 현황조사 대상에서 제외됩니다.
          </p>
          <span class="agree-box">
            (선택) 캠핑이지 이용현황조사 등에 수집된 정보 활용&nbsp;&nbsp;
            <label for="agr3">&nbsp;동의함</label>
            <input class="agree-box__radio" type="radio" name="ch3" id="agr3" />
            <label for="noagr3">&nbsp;&nbsp;동의하지 않음</label>
            <input class="agree-box__radio" type="radio" name="ch3" id="noagr3" />
          </span>
        </div>
        <h3>회원 구분 선택</h3>
        <hr class="line" />
        <div class="mn__btn">
          <div class="btn__gen-user">
            <i class="fa-solid fa-user fa-4x"></i>
            <a href="/templates/member/SignUpUserGen.html">
              <p class="sign-btn">일반 회원가입 선택</p>
            </a>
          </div>
          <di class="btn__camp-user">
            <i class="fa-solid fa-tent fa-4x"></i>
            <a href="/templates/member/SignUpUserCamp.html">
              <p class="sign-btn">캠핑장 회원가입 선택</p>
            </a>
          </di>
        </div>
      </main>

      <div class="mn-r"></div>

      <div class="ft-l"></div>

      <!-- 푸터영역(FOOTER)-->
      <footer class="ft">
        <div class="ft__logo-cell">
          <h2>캠핑EZ</h2>
        </div>
        <div class="ft__info-cell">
          <div class="ft__links">
            <a href="" class="link">개인정보취급방침</a>
            <a href="" class="link">홈페이지이용약관</a>
            <a href="" class="link">광고및제휴문의</a>
          </div>
          <div class="ft__others">
            <p>Copyrights(c) 2023 www.campingez.com. ALL RIGHTS RESERVED.</p>
            <p>TEL 010-1234-5678 (상담시간: 평일 10:00~18:00)</p>
            <p>E-MAIL : webmaster@testmail.com</p>
          </div>
        </div>
        <div class="ft__empty-cell"></div>
      </footer>

      <div class="ft-r"></div>
    </div>
  </body>
</html>
