@charset "UTF-8";
@import '/css/common/common.css';
@import 'myPageLayout.css';

.tab1 input[name='tab'],
.tab2 input[name='tab'] {
  display: none;
}
.tab1 input:nth-of-type(1):checked ~ tabBtn--label > label[for='tab1__1'],
.tab1 input:nth-of-type(2):checked ~ tabBtn--label > label[for='tab1__2'],
.tab1 input:nth-of-type(3):checked ~ tabBtn--label > label[for='tab1__3'],
.tab2 input:nth-of-type(1):checked ~ tabBtn--label > label[for='tab2__1'],
.tab2 input:nth-of-type(2):checked ~ tabBtn--label > label[for='tab2__2'],
.tab2 input:nth-of-type(3):checked ~ tabBtn--label > label[for='tab2__3'] {
  padding: 0.5%;
  background: var(--theme-color);
  color: var(--main-font-color);
}
.tab1,
.tab2 {
  display: flex;
  align-items: center;
  padding: 1rem;
}
tabBtn--label {
  display: flex;
  width: 200%;
  align-items: center;
  justify-content: space-evenly;
}
.tab1__contant,
.tab2__contant {
  display: flex;
  justify-content: center;
}
.tab1__1__content,
.tab1__2__content,
.tab1__3__content,
.tab2__1__content,
.tab2__2__content,
.tab2__3__content {
  display: none;
  width: 200%;
}

/* 예약 관리 타이틀 */
.reserv__title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 9vh;
  background-color: rgb(218, 218, 218);
}
/* 예약 관리 내용물 -- 총 5개, 관리자 */
.reserv__item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
}
/* 예약 관리 페이지 버튼 칸 */
.reserv__page {
  display: flex;
  justify-content: center;
}

/* 예약 관리 페이지 버튼들 */
.reserv__pageBtn {
  border-radius: 15%;
  margin: 0.5vw;
  padding: 0.5vh;
}
/* 회원 정보 칸 */
.member__item {
  display: flex;
  justify-content: center;
  height: 2.03vh;
  margin: 1rem;
  padding: 1rem;
  outline: 3px solid rgb(218, 218, 218);
}
/* 회원 정보 내용 */
.member__main {
  margin: 0 2%;
}
/* 회원 탈퇴 */
.tab1__3__content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 4rem;
  position: relative;
}
/* 회원 탈퇴 비밀번호 입력 칸 */
.member__wthdr {
  flex-direction: column;
  width: 35%;
}
/* 회원 탈퇴 모달 창 */
.member__modal {
  display: none;
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: white;
  outline: 0.2rem solid black;
}
/* 내 캠핑장 */
.tab2__1__content {
  flex-direction: column;
}
/* 내 캠핑장 내용 */
.myCamp__item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 18vh;
}
/* 내 캠핑장 사진 */
.myCamp__Photo {
  object-fit: cover;
  height: 14vh;
}
/* 내 캠핑장 페이지 버튼 칸 */
.myCamp__page {
  display: flex;
  justify-content: center;
}
/* 내 캠핑장 페이지 버튼들 */
.myCamp__pageBtn {
  border-radius: 15%;
  margin: 0.5vw;
  padding: 0.5vh;
}
/* 예약 관리 타이틀 */
.managerRev__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 9vh;
  background-color: rgb(218, 218, 218);
}
/* 예약 관리 내용물 -- 총 4개 */
.managerRev__item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
}
/* 예약 관리 페이지 버튼 칸 */
.managerRev__page {
  display: flex;
  justify-content: center;
}

/* 예약 관리 페이지 버튼들 */
.managerRev__pageBtn {
  border-radius: 15%;
  margin: 0.5vw;
  padding: 0.5vh;
}
/* 첫 시작 화면 */
.tab1__2__content{
  display: block;
}