<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/detailPage/detailPage-admin--main.css" />
    <title>Document</title>
    <style>
      * {
        /* outline: 1px solid red; */
      }
    </style>
    <script src="https://kit.fontawesome.com/4fab4e86c9.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="wrapper">
      <!-- 최상단 메뉴(UPPERMOST) -->
      <div class="up-l"></div>

      <div class="up">
        <a href="" th:href="@{/}" class="up__link">HOME</a>
        <th:block th:if="${!session.isEmpty()}">
          <a href="" th:href="@{/mypage}" class="up__link">마이페이지</a>
          <a href="" th:href="@{/login/logout}" class="up__link">로그아웃</a>
        </th:block>
        <th:block th:if="${session.isEmpty()}">
          <a href="" th:href="@{/signup}" class="up__link">회원가입</a>
          <a href="" th:href="@{/login}" class="up__link">로그인</a>
        </th:block>
      </div>

      <div class="up-r"></div>

      <!-- 헤더 (HEADER) -->
      <div class="hd-l"></div>
      <header class="hd">
        <div class="hd__menu-item">
          <a href="" th:href="@{/search}" class="link">검색ez</a>
          <a href="" th:href="@{/preparing}" class="link">ez가이드</a>
          <a href="" th:href="@{/preparing}" class="link">사이트맵</a>
        </div>
        <div class="hd__logo-item">
          <a href="" th:href="@{/}" class="link">
            <i class="hd__logo fa-solid fa-house"></i>
            <h2>캠핑EZ</h2>
          </a>
        </div>
        <div class="hd__empty-item"></div>
      </header>
      <div class="hd-r"></div>

      <!-- gnb영역 -->
      <div class="gnb-l"></div>

      <nav class="gnb">
        <div class="gnb__gwangjang-submenu">
          <div>
            <a href="/templates/community/notice.html" class="gnb__depth link">공지사항</a>
          </div>
          <div>
            <a href="/templates/community/bulletinBoard.html" class="gnb__depth link">자유게시판</a>
          </div>
          <div>
            <a href="/templates/community/question.html" class="gnb__depth link">질문게시판</a>
          </div>
        </div>
        <div>
          <a href="/templates/search/SearchListMain.html" class="link">검색ez</a>
        </div>
        <div><a href="" class="link">광장ez</a></div>
        <div><a href="" class="link">ez가이드</a></div>
      </nav>

      <div class="gnb-r"></div>

      <!-- 내가 구현한 영역 시작 -->

      <!-- 1.topTitle -->
      <div class="topTitle">
        <h2>입화산 참살이 숲 야영장</h2>
      </div>

      <!-- 2.mnFace -->
      <div class="mnFace">
        <section class="mnFace-l">
          <img src="http://placeimg.com/640/480/nature" alt="mnFace-l img" />
        </section>
        <section class="mnFace-r">
          <table>
            <tr>
              <td class="title">주소</td>
              <td class="content">울산광역시 중구 다운동 8번지</td>
            </tr>
            <tr>
              <td class="title">문의처</td>
              <td>052-1234-5678</td>
            </tr>
            <tr>
              <td class="title">캠핑장 유형</td>
              <td class="content">자동차 야영장</td>
            </tr>
            <tr>
              <td class="title">운영기간</td>
              <td class="content">봄, 여름, 가을, 겨울</td>
            </tr>
            <tr>
              <td class="title">운영일</td>
              <td class="content">평일+주말</td>
            </tr>
            <tr>
              <td class="title">홈페이지</td>
              <td class="content"><a href="#">홈페이지</a></td>
            </tr>
            <tr>
              <td class="title">주변이용<br />가능시설</td>
              <td class="content">산책로, 수영장, 농어촌체험시설</td>
            </tr>
          </table>
          <div class="admin">
            <button type="button" class="adminBtn updateBtn">수정</button>
            <button type="button" class="adminBtn deleteBtn">삭제</button>
          </div>
        </section>
      </div>

      <!-- 3.menuBtn -->
      <div class="menuBtn">
        <input name="tab" id="tab1" type="radio" checked />
        <input name="tab" id="tab2" type="radio" />
        <header>
          <label for="tab1">캠핑장 소개</label>
          <label for="tab2">이용안내</label>
        </header>
        <div class="tab1_content tc">
          <!-- tab1 내용 시작 -->
          <div class="menuBtn-wrapper-tab1">
            <hr />
            <!-- 3.1-1.intro -->
            <div class="intro">
              <h3>
                <i class="fa-solid fa-thumbtack"></i>
                캠핑장 소개
                <hr />
              </h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod et libero veritatis voluptatem ab facere, porro labore officia eos atque officiis sunt obcaecati eius delectus architecto cumque laborum, eveniet a. Quia neque, pariatur maxime perspiciatis ut quasi, illo, tempora quos
                minima iste atque qui! Quas distinctio impedit voluptatem, unde recusandae aspernatur facere minima dolorem, ipsum consequuntur nemo dolore quia reiciendis. Accusamus voluptate consequuntur, illum eos ullam asperiores eaque itaque, maiores labore quibusdam velit recusandae tempora
                assumenda cum vero aperiam autem voluptatibus enim error. Odio quasi doloribus praesentium, nobis eaque sint. Ullam ea iusto numquam iure quos dolorum incidunt sequi architecto, itaque cupiditate, enim veritatis distinctio reprehenderit fuga voluptas a, autem officiis labore
                blanditiis quis earum sit? Ipsam aliquam necessitatibus laudantium. Quos assumenda minus totam iusto quod fugiat. Qui, aspernatur sapiente! Ex corrupti, necessitatibus minus, corporis quas saepe nostrum error ratione porro dignissimos nulla deleniti cum accusantium dolore, omnis eos
                velit.
              </p>
            </div>

            <!-- 3.1-2.inform -->
            <div class="inform">
              <h3 class="inform-title">
                <i class="fa-solid fa-thumbtack"></i>
                캠핑장 주요 시설
                <hr />
              </h3>
              <section class="img">
                <div class="item item1">
                  <a href="#">
                    <img src="http://placeimg.com/640/480/nature" alt="inform img" />
                  </a>
                </div>
                <div class="item item2">
                  <a href="#">
                    <img src="http://placeimg.com/640/480/nature" alt="inform img" />
                  </a>
                </div>
                <div class="item item3">
                  <a href="#">
                    <img src="http://placeimg.com/640/480/nature" alt="inform img" />
                  </a>
                </div>
                <div class="item item4">
                  <a href="#">
                    <img src="http://placeimg.com/640/480/nature" alt="inform img" />
                  </a>
                </div>
                <div class="item item5">
                  <a href="#">
                    <img src="http://placeimg.com/640/480/nature" alt="inform img" />
                  </a>
                </div>
                <div class="item item6">
                  <a href="#">
                    <img src="http://placeimg.com/640/480/nature" alt="inform img" />
                  </a>
                </div>
              </section>
            </div>

            <!-- 3.1-3.campImg -->
            <div class="campImg">
              <h3>
                <i class="fa-solid fa-thumbtack"></i>
                캠핑장 이미지
                <hr />
              </h3>
              <section class="img">
                <div class="item item1">
                  <a href="#">
                    <img src="http://placeimg.com/640/480/nature" alt="campImg img" />
                  </a>
                </div>
                <div class="item item2">
                  <a href="#">
                    <img src="http://placeimg.com/640/480/nature" alt="campImg img" />
                  </a>
                </div>
                <div class="item item3">
                  <a href="#">
                    <img src="http://placeimg.com/640/480/nature" alt="campImg img" />
                  </a>
                </div>
              </section>
            </div>
          </div>
          <!-- tab1 내용 끝 -->
        </div>

        <div class="tab2_content tc">
          <div class="menuBtn-wrapper-tab2">
            <!-- tab2 내용 시작 -->
            <!-- 3.2-1.이용안내 -->
            <div class="operation-guide">
              <section class="operation-guide__title">
                <h3>
                  <i class="fa-solid fa-thumbtack"></i>
                  이용안내
                  <hr />
                </h3>
              </section>
              <section class="operation-guide__content">
                <table>
                  <tr>
                    <td class="gubun" rowspan="2">구분</td>
                    <td class="jujung-jumal" colspan="2">평상시</td>
                    <td class="jujung-jumal" colspan="2">성수기</td>
                  </tr>
                  <tr>
                    <td>주중</td>
                    <td>주말</td>
                    <td>주중</td>
                    <td>주말</td>
                  </tr>
                  <tr>
                    <td class="gubun">일반</td>
                    <td class="content-text">45,000~85,000</td>
                    <td class="content-text">55,000~95,000</td>
                    <td class="content-text">50,000~90,000</td>
                    <td class="content-text">60,000~100,000</td>
                  </tr>
                  <tr>
                    <td class="gubun">카라반</td>
                    <td class="content-text">80,000</td>
                    <td class="content-text">90,000</td>
                    <td class="content-text">0</td>
                    <td class="content-text">0</td>
                  </tr>
                </table>
              </section>
            </div>
            <!-- 3.2-2.안내사항 -->
            <div class="caution-guide">
              <h3>
                <i class="fa-solid fa-thumbtack"></i>
                안내사항
                <hr />
              </h3>
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat quas ducimus alias aperiam a nemo laborum est fugiat, optio error quidem nostrum molestiae numquam quasi cum unde ipsum enim. Minus. Soluta maiores quod dolorum cumque qui commodi praesentium inventore sint,
                consequuntur aperiam laborum sapiente, ipsa nobis totam dolore ullam deserunt animi quia! Voluptatem voluptates tempora ex molestiae, provident illo similique.
              </p>
            </div>
            <!-- 3.2-3.안전시설 및 배치도 -->
            <div class="safety-guide">
              <h3>
                <i class="fa-solid fa-thumbtack"></i>
                안전시설 및 배치도
                <hr />
              </h3>
              <img src="http://placeimg.com/640/480/nature" alt="safety-guide img" />
            </div>
            <!-- tab2 내용 끝 -->
          </div>
        </div>
      </div>

      <!-- 내가 구현한 영역 끝 -->

      <!-- 푸터영역(FOOTER)-->
      <footer class="ft">
        <div class="ft__logo-cell">
          <h2>캠핑EZ</h2>
        </div>
        <div class="ft__info-cell">
          <div class="ft__links">
            <a href="" class="link">개인정보취급방침</a>
            <a href="" class="link">홈페이지이용약관</a>
            <a href="" class="link">광고및제휴문의</a>
          </div>
          <div class="ft__others">
            <p>Copyrights(c) 2023 www.campingez.com. ALL RIGHTS RESERVED.</p>
            <p>TEL 010-1234-5678 (상담시간: 평일 10:00~18:00)</p>
            <p>E-MAIL : webmaster@testmail.com</p>
          </div>
        </div>
        <div class="ft__empty-cell"></div>
      </footer>

      <div class="ft-r"></div>
    </div>
  </body>
</html>
