@charset "UTF-8";
@import '/css/common/common.css';
@import 'memberLayout.css';

/* * {
  outline: 1px solid red;
} */
/* .tag {
    display:inline-block;
    padding:3px;
    background-color:var(--bg-color-darkgray-transparent);
    border-radius:5%
} */

.hidden {
  display: none;
}

/* MAIN  */
.line-hd {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}
.line-ft {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 90px;
}
.mn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tab-nav {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.tab-btn1,
.tab-btn2 {
  width: 150px;
  height: 40px;
  color: var(--main-font-color);
}
.tab-btn1,
.tab-btn2:hover {
  cursor: pointer;
}
.btn-on {
  background-color: var(--theme-color);
  border: none;
}

.btn-off {
  background-color: var(--bg-color-lightgray);
  border: none;
}
.log-box {
  display: flex;
  margin: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 1px solid lightgray;
  width: 500px;
  height: 150px;
}
.log-find {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-find {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.input-label {
  display: inline-block;
  width: 70px;
}
.id-input,
.pw-input {
  width: 200px;
  height: 25px;
}
.sign-btn {
  margin-left: 10px;
  width: 70px;
  height: 70px;
  background-color: var(--theme-color);
  color: var(--main-font-color);
  border: 0;
}
.sign-btn:hover {
  cursor: pointer;
}

.find-btn {
  position: relative;
  left: 223px;
  height: 35px;
  width: 100px;
  background-color: var(--theme-color);
  border: none;
  color: var(--main-font-color);
}
