@charset "UTF-8";
@import '/static/css/common/common.css';
@import '/static/css/member/SuccessLayout.css';

/* * {
  outline: 1px solid red;
} */
/* .tag {
    display:inline-block;
    padding:3px;
    background-color:var(--bg-color-darkgray-transparent);
    border-radius:5%
} */

.hidden {
  display: none;
}

/* MAIN  */
.line-hd {
  width: 100%;
}
.line-ft {
  width: 100%;
  margin-top: 100px;
}
.mn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.success-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 300px;
}
.success-btn {
  width: 100px;
  height: 30px;
  border: none;
  background-color: var(--theme-color);
  color: var(--main-font-color);
}
.success-btn:hover {
  cursor: pointer;
}
