@charset "UTF-8";

/* * {
  outline: 1px solid red;
} */
/* .tag {
    display:inline-block;
    padding:3px;
    background-color:var(--bg-color-darkgray-transparent);
    border-radius:5%
} */
.wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(700px, 3fr) 1fr;
  grid-template-rows: 40px 100px 50px minmax(600px, auto) 150px;
}

/* UPPERMOST */
.up {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  background-color: var(--theme-color);
  z-index: 2;
}
.up__link {
  font-size: var(--font-size-tiny);
  color: var(--main-font-color);
  margin-right: 10px;
  text-decoration: none;
}

/* HEADER */
.hd {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  top: 40px;
  background-color: var(--bg-header-color);
  z-index: 2;
}
.hd__menu-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  font-size: var(--font-size-small);
}
.hd__logo-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 20px;
}
.hd__logo {
  font-size: 3rem;
  height: 55px;
  width: 100px;
  text-align: center;
}

/* GNB */
.gnb {
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 140px;
  background-color: var(--theme-color);
  color: var(--main-font-color);
}
.gnb__gwangjang-submenu {
  display: none;
}
.gnb:hover .gnb__gwangjang-submenu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  position: absolute;
  top: 190px;
  width: 60%;
  background-color: var(--bg-color-lightgray);
  font-size: var(--font-size-small);
  z-index: 1;
  border-radius: 5px;
}
.gnb__depth {
  display: block;
  margin: 15px 0;
}
.gnb div a {
  display: inline-block;
  width: 100px;
  line-height: 30px;
  text-align: center;
}

/* MAIN  */

/*  FOOTER  */
.ft {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  background-color: var(--theme-color-thic);
  color: var(--main-font-color);
  font-size: var(--font-size-tiny);
}
.ft__logo-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ft__info-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.ft__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.ft__others {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* link */
.link {
  color: inherit;
  text-decoration: none;
  transition: all, 1s, ease, 0.15s;
}

.link:hover {
  transform: scale(1.1);
}
